* {
    z-index: 1;
}


    .grid-picture{
        background-size: cover;
        object-fit: cover;
        height: 300px;
        align-items: center;
        border-radius: 20px;
        width: 300px;
        transition: transform .2s;

    }

    .grid-picture:hover{
        transform: scale(1.02);
    }


    .text-box {
        font-size: 1.5vw;
        padding: 16px;
        color: #dedede;
        text-align: justify;
        background-color: var(--special-container-color);
        height: 38%;
        width: 80%;
        border-radius: 20px;
        transition: transform .2s;
        color: white;

    }
    .text-boxContant {
        border-radius: 5px;
        font-size: 1.15vw;
        padding: 12px;
        text-align: justify;
        height: 150px;
        transition: transform .2s;
        margin: auto;
        width: 97.5%;

    }

    .text-box:hover{
        transform: scale(1.02);

    }

    .text-boxContant:hover{
        transform: scale(1.02);
    }

    .container{
        padding: 15px;
    }

    .padder{
        padding-bottom: 15px;
    }
