
.dropbtn {
    background-color: white;
    padding: 3px;
    font-size: 16px;
    color: black;
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: 34px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown-item{
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
