@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto+Mono:wght@100&display=swap');

:root {
    --main-color: #466730; /* Temporary */
    --mainbackground-color: #64814f; /* Temporary */

}

html {
    font-family: "Montserrat", sans-serif;
}


header {
    display: block;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    background-color: var(--main-color);
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    padding: 0;
    max-height: 50px;

}

.nav_links {
    list-style: none;

}
.nav_links {
    display: flex;
    padding: 0 20px;
    margin: 5px;
}

.nav_links li a {
    transition: all 0.4s ease 0.1s;
    border-radius: 15px;
}

.nav_links li a:hover {
    background-color: #53a0af;
}

.main {
    margin-top: 42px;
    background-color: #53a0af;
    display: flex;
    width: 100%;
    padding: 30px;
}

.footer_line {
    position: fixed;
    display: flex;
    padding: 5px 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    --background-color: var(--main-color);
    color: white;
    text-align: center;
    justify-content: space-between;
}
.container {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: #718096;
    border-radius: 20px;
    padding: 5px 10px;
}
.container h1 {
    padding: 15px 0;
}
.container button {

}

.btn {
    margin-top: 30px;
    color: #e2e8f0;
    font-size: 20px;
    width: 150px;
    height: 40px;
    background-color: #1a202c;
    border-radius: 20px;
}


textarea {
    resize: none;
}

.productOneImg {
    height: 150px;
    width: 200px;
    border-radius: 18px;
}


.product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /*align-content: center;*/
}

.buy-main {
    display: flex;
    margin: 30px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
}

.product-description {
    width: 200px;
}


.basket-main {
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
}
