@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto+Mono:wght@100&display=swap');

:root {
    --main-color: #466730; /* Temporary */
    --mainbackground-color: #64814f; /* Temporary */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
}

header {
    display: block;
}

.main {
    margin-top: 42px;
    background-color: var(--mainbackground-color);
    display: flex;
    width: 100%;
    padding: 30px;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    background-color: var(--main-color);
}

.nav_links {
    list-style: none;

}
.nav_links {
    display: flex;
    padding: 0 20px;
    margin: 5px;
}

.nav_links li a {
    transition: all 0.4s ease 0.1s;
    border-radius: 15px;
}

.nav_links li a:hover {
    background-color: #53a0af;
}

.footer_line {
    position: fixed;
    display: flex;
    padding: 5px 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    justify-content: space-between;
}

textarea {
    resize: none;
}

.productOneImg {
    height: 150px;
    width: 200px;
    border-radius: 18px;
}

.product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /*align-content: center;*/
}

.buy-main {
    display: flex;
    margin: 30px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
}

.product-description {
    width: 200px;
}

.basket-main {
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
}


li, a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    padding: 0;
    max-height: 50px;

}

.main {
    margin-top: 42px;
    background-color: #53a0af;
    display: flex;
    width: 100%;
    padding: 30px;
}

.container {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: #718096;
    border-radius: 20px;
    padding: 5px 10px;
}

.container h1 {
    padding: 15px 0;
}

.btn {
    margin-top: 30px;
    color: #64814f;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    /*border-bottom: 2px;*/
    /*border-bottom-color: #1a202c;*/
    /*border-top: 2px;*/
    /*border-top-color: #1a202c;*/


}

.user_container {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: fixed;
    text-align: center;
    background-color: #64814f;
    padding: 50px;
    border-radius: 20px;

}

.user_container input {
    display: block;
    padding: 7px;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    margin: 10px 0px;
    border: none;
}

.user_container h1,p {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.user_container a {
    text-decoration: underline;
}

.forms-grouping{
    position: relative;
    left: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submitBtn{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
