@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto+Mono:wght@100&display=swap');

:root {
    --main-color: #466730; /* Temporary */
    --mainbackground-color: #64814f; /* Temporary */

}

html {
    font-family: "Montserrat", sans-serif;
}


header {
    display: block;

}


.navbar {
    overflow: hidden;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-align: right;
    display: flex;
    flex-direction: row;
    margin: -8px;
    padding: 5px;
}

.navbar a:hover {
    background: #a0ceff;
    color: #ffffff;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
}


.main {
    margin-top: 42px;
    background-color: var(--mainbackground-color);
    display: flex;
    width: 100%;
    padding: 30px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    --background-color: var(--main-color);
    color: white;
    text-align: center;
}


textarea {
    resize: none;
}

.productOneImg {
    height: 150px;
    width: 200px;
    border-radius: 18px;
}


.product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /*align-content: center;*/
}

.buy-main {
    display: flex;
    margin: 30px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
}

.product-description {
    width: 200px;
}


.basket-main {
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
}

.forms-grouping{
    position: relative;
    left: 800px;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

input{
    margin-bottom: 15px;
    border-radius: 10px;
}
.submitBtn{
    background-color: var(--mainbackground-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #729459;
}
